Repository CodeitFESI4-Team1/Team-1-Codeit, pull requests merged in 2024-11, with the labels that each got.

#38 Feat/cr 59/header design
  public/assets/icons/default-profile.svg
  src/components/common/header/container.tsx
  src/components/common/header/presenter.tsx
  src/components/common/profile/index.tsx
Labels: components

#39 Feat/cr 14/review heart
  .storybook/main.ts
  next.config.mjs
  public/assets/icons/ic-heart.svg
  src/components/common/review-heart/hearts.tsx
  src/components/common/review-list/review-card.tsx
  tsconfig.json
Labels: components

#43 Feat/cr 70/my page
  src/app/detail/[id]/page.tsx
  src/app/mypage/page.tsx
  src/components/common/profile/index.tsx
  src/components/common/tab/index.tsx
  src/components/gathering-detail-modal/gathering-detail-modal.stories.tsx
  src/components/gathering-detail-modal/presenter.tsx
  src/components/my-page/profile-card/container.tsx
  src/components/my-page/profile-card/presenter.tsx
  src/types/gathering-data.d.ts
  src/types/user.d.ts
  tailwind.config.ts
Labels: pages

#44 Feat/cr 60/login page
  .prettierrc.js
  mock.json
  package-lock.json
  package.json
  src/_apis/auth/auth-apis.tsx
  src/_queries/auth/auth-queries.tsx
  src/app/login/.gitkeep
  src/app/login/_component/login-form.stories.tsx
  src/app/login/_component/login-form.tsx
  src/app/login/page.tsx
  src/store/use-auth-store.tsx
  src/types/auth.ts
  src/utils/api.ts
  src/utils/transform-keys.ts
Labels: pages, api

#46 Feat/cr 69/cards design
  public/assets/icons/default-heart.svg
  public/assets/icons/kebab-btn.svg
  src/app/detail/[id]/.gitkeep
  src/app/detail/[id]/page.tsx
  src/app/detail/page.tsx
  src/components/common/button/like-btn.stories.tsx
  src/components/common/button/like-btn.tsx
  src/components/common/crew-list/crew-card-list.stories.tsx
  src/components/common/crew-list/crew-card-list.tsx
  src/components/common/crew-list/crew-card.tsx
  src/components/common/crew-list/detail-crew-card.stories.tsx
  src/components/common/crew-list/detail-crew-card.tsx
  src/components/common/crew-list/profiles.stories.tsx
  src/components/common/crew-list/profiles.tsx
  src/components/common/gathering-card/container.tsx
  src/components/common/gathering-card/presenter.tsx
  src/components/common/profile/index.tsx
  src/mock/crew-data.ts
  src/mock/gathering-data.ts
  src/styles/globals.css
  src/types/crew-card.d.ts
Labels: components

#41 Feat/cr 58/create crew page
  .github/workflows/ci.yml
  public/assets/icons/ic-plus.svg
  src/app/create-crew/.gitkeep
  src/app/create-crew/[id]/.gitkeep
  src/app/create-crew/page.tsx
  src/app/crew/_components/create-crew-form/create-crew-form.stories.tsx
  src/app/crew/_components/create-crew-form/index.tsx
  src/app/crew/create/page.tsx
  src/app/crew/detail/[id]/page.tsx
  src/app/crew/detail/layout.tsx
  src/app/crew/edit/page.tsx
  src/app/mypage/page.tsx
  src/app/page.tsx
  src/components/common/button/floating-btn.stories.tsx
  src/components/common/button/index.tsx
  src/components/common/input/date-time-picker/index.tsx
  src/components/common/input/drop-down/drop-down.stories.tsx
  src/components/common/input/drop-down/index.tsx
  src/components/common/input/file-input-wrap/file-input/file-input.stories.tsx
  src/components/common/input/file-input-wrap/file-input/index.tsx
  src/components/common/input/file-input-wrap/index.tsx
  src/components/common/review-list/review-card.tsx
  src/components/gathering-detail-modal/presenter.tsx
  src/data/region.json
  src/styles/globals.css
  src/types/create-crew.d.ts
  tailwind.config.ts
Labels: pages

#50 Feat/cr 72/signup page
  .prettierrc.js
  src/_apis/auth/auth-apis.tsx
  src/_queries/auth/auth-queries.tsx
  src/app/layout.tsx
  src/app/signup/_component/signup-form.stories.tsx
  src/app/signup/_component/signup-form.tsx
  src/app/signup/page.tsx
  src/components/common/header/presenter.tsx
  src/components/common/input/calendar-filter/index.tsx
  src/components/common/input/pop-over-calendar/index.tsx
  src/fonts/pretendard/pretendard.ts
  src/fonts/pretendard/woff/Pretendard-Black.woff
  src/fonts/pretendard/woff/Pretendard-Bold.woff
  src/fonts/pretendard/woff/Pretendard-ExtraBold.woff
  src/fonts/pretendard/woff/Pretendard-ExtraLight.woff
  src/fonts/pretendard/woff/Pretendard-Light.woff
  src/fonts/pretendard/woff/Pretendard-Medium.woff
  src/fonts/pretendard/woff/Pretendard-Regular.woff
  src/fonts/pretendard/woff/Pretendard-SemiBold.woff
  src/fonts/pretendard/woff/Pretendard-Thin.woff
  src/fonts/pretendard/woff2/Pretendard-Black.woff2
  src/fonts/pretendard/woff2/Pretendard-Bold.woff2
  src/fonts/pretendard/woff2/Pretendard-ExtraBold.woff2
  src/fonts/pretendard/woff2/Pretendard-ExtraLight.woff2
  src/fonts/pretendard/woff2/Pretendard-Light.woff2
  src/fonts/pretendard/woff2/Pretendard-Medium.woff2
  src/fonts/pretendard/woff2/Pretendard-Regular.woff2
  src/fonts/pretendard/woff2/Pretendard-SemiBold.woff2
  src/fonts/pretendard/woff2/Pretendard-Thin.woff2
  src/styles/theme.ts
  src/types/auth.ts
Labels: pages

#49 Feat/cr 65/review card list modify
  package-lock.json
  package.json
  src/app/(crew)/api/mock-api/crew.ts
  src/app/(crew)/api/mock-api/review.ts
  src/app/(crew)/mypage/page.tsx
  src/components/common/review-list/review-card-list.stories.ts
  src/components/common/review-list/review-card-list.stories.tsx
  src/components/common/review-list/review-card-list.tsx
  src/components/common/review-list/review-card.tsx
  src/mock/review-data.ts
  src/types/review.d.ts
  src/utils/format-date.ts
Labels: components

#55 Feat/53/gathering timeline card
  .github/workflows/ci.yml
  mock.json
  src/components/common/button/like-btn.tsx
  src/components/common/gathering-card/scheduled-gathering-card/container.tsx
  src/components/common/gathering-card/scheduled-gathering-card/presenter.tsx
  src/components/common/gathering-card/scheduled-gathering-card/scheduled-gathering.stories.tsx
  tailwind.config.ts
Labels: components

#52 Feat/cr 71/create gathering modal
  src/app/(crew)/crew/_components/create-gathering-form/create-gathering-form.stories.tsx
  src/app/(crew)/crew/_components/create-gathering-form/index.tsx
  src/app/(crew)/crew/_components/create-gathering-modal/container.tsx
  src/app/(crew)/crew/_components/create-gathering-modal/presenter.tsx
  src/app/(crew)/crew/detail/[id]/page.tsx
  src/app/(crew)/crew/detail/layout.tsx
  src/app/(crew)/layout.tsx
  src/components/common/input/date-time-picker/index.tsx
  src/components/common/input/file-input-wrap/file-input/index.tsx
  src/components/gathering-detail-modal/container.tsx
  src/components/gathering-detail-modal/gathering-detail-modal.stories.tsx
  src/components/gathering-detail-modal/presenter.tsx
  src/types/gathering-data.d.ts
Labels: components

#63 Feat/62/toast
  package-lock.json
  package.json
  src/components/common/toast/index.tsx
  src/components/common/toast/toast.stories.tsx
Labels: components

#64 Feat/57/writable review card list
  src/app/(crew)/api/mock-api/writable-gathering.ts
  src/components/common/writable-gathering-card/writable-gathering-card-list.stories.tsx
  src/components/common/writable-gathering-card/writable-gathering-card-list.tsx
  src/components/common/writable-gathering-card/writable-gathering-card.tsx
  src/mock/writable-gathering-data.ts
  src/types/writable-gathering-card.d.ts
Labels: components

#61 Feat/detail page
  src/_apis/detail/get-crew-detail.ts
  src/_apis/detail/get-gathering-list.ts
  src/_apis/detail/get-review-list.ts
  src/app/(crew)/api-test/page.tsx
  src/app/(crew)/crew/detail/[id]/_components/crew-review-list.stories.tsx
  src/app/(crew)/crew/detail/[id]/_components/crew-review-list.tsx
  src/app/(crew)/crew/detail/[id]/_components/rating-display.stories.tsx
  src/app/(crew)/crew/detail/[id]/_components/rating-display.tsx
  src/app/(crew)/crew/detail/[id]/_components/review-section.tsx
  src/app/(crew)/crew/detail/[id]/page.tsx
  src/app/(crew)/detail/[id]/page.tsx
  src/app/(crew)/detail/layout.tsx
  src/app/(crew)/mypage/page.tsx
  src/app/(crew)/page.tsx
  src/app/api/mock-api/crew.ts
  src/app/api/mock-api/detail/route.ts
  src/app/api/mock-api/review.ts
  src/app/api/test-api/route.ts
  src/components/common/button/index.tsx
  src/components/common/crew-list/crew-card-list.stories.tsx
  src/components/common/crew-list/crew-card-list.tsx
  src/components/common/crew-list/crew-card.tsx
  src/components/common/crew-list/detail-crew-card.stories.tsx
  src/components/common/crew-list/detail-crew-card.tsx
  src/components/common/crew-list/profiles.tsx
  src/components/common/gathering-card/container.tsx
  src/components/common/gathering-card/gathering-card.stories.tsx
  src/components/common/gathering-card/presenter.tsx
  src/components/common/header/header.stories.tsx
  src/components/common/header/presenter.tsx
  src/components/common/profile/index.tsx
  src/components/common/progress-bar/progress-bar.stories.tsx
  src/components/common/review-heart/hearts.tsx
  src/components/common/review-list/review-card-list.stories.tsx
  src/components/common/review-list/review-card.tsx
  src/components/gathering-detail-modal/presenter.tsx
  src/components/gathering-list/gathering-card-carousel.tsx
  src/components/gathering-list/gathering-carousel.stories.tsx
  src/components/gathering-list/gathering-list.tsx
  src/hooks/cn.ts
  src/mock/crew-data.ts
  src/mock/review-data.ts
  src/types/crew-card.d.ts
  src/types/review.d.ts
  src/utils/api.ts
Labels: pages

#58 Feat/56/my crew page
  .github/workflows/deploy_develop.yml
  .github/workflows/dispatch_develop.yml
  src/app/(auth)/signup/_component/signup-form.tsx
  src/app/(crew)/crew/_components/create-crew-form/index.tsx
  src/app/(crew)/crew/_components/create-gathering-form/index.tsx
  src/app/(crew)/crew/_components/gathering-detail-modal/container.tsx
  src/app/(crew)/crew/_components/gathering-detail-modal/gathering-detail-modal.stories.tsx
  src/app/(crew)/crew/_components/gathering-detail-modal/presenter.tsx
  src/app/(crew)/crew/create/page.tsx
  src/app/(crew)/crew/detail/[id]/edit/page.tsx
  src/app/(crew)/crew/detail/[id]/page.tsx
  src/app/(crew)/crew/edit/page.tsx
  src/app/(crew)/layout.tsx
  src/app/(crew)/my-crew/.gitkeep
  src/app/(crew)/my-crew/page.tsx
  src/app/(crew)/mypage/_components/profile-card/container.tsx
  src/app/(crew)/mypage/_components/profile-card/presenter.tsx
  src/app/(crew)/mypage/page.tsx
  src/app/(crew)/page.tsx
  src/app/_components/category/category-container/index.tsx
  src/app/_components/category/internal-category/index.tsx
  src/app/_components/category/internal-category/internal-category.stories.tsx
  src/app/_components/category/main-category/index.tsx
  src/app/_components/hero/hero-crew.tsx
  src/components/common/crew-list/crew-card.tsx
  src/components/common/crew-list/profiles.tsx
  src/components/common/gathering-card/container.tsx
  src/components/common/gathering-card/presenter.tsx
  src/components/common/gathering-card/scheduled-gathering-card/presenter.tsx
  src/components/common/header/container.tsx
  src/components/common/input/button/button.stories.tsx
  src/components/common/input/button/floating-btn.stories.tsx
  src/components/common/input/button/floating-btn.tsx
  src/components/common/input/button/index.tsx
  src/components/common/input/button/like-btn.stories.tsx
  src/components/common/input/button/like-btn.tsx
  src/components/common/modal/confirm-cancel-modal.tsx
  src/components/common/modal/confirm-modal.tsx
  src/components/common/profile/index.tsx
  src/components/common/writable-gathering-card/writable-gathering-card-list.stories.tsx
  src/components/common/writable-gathering-card/writable-gathering-card.tsx
  src/components/gathering-list/gathering-list.tsx
  src/mock/gathering-data.ts
  src/mock/writable-gathering-data.ts
  src/types/gathering-data.d.ts
Labels: pages

#72 Feat/71/add modal
  src/app/(crew)/crew/detail/[id]/_components/create-gathering.tsx
  src/app/(crew)/crew/detail/[id]/page.tsx
  src/app/(crew)/my-crew/page.tsx
  src/app/(crew)/mypage/.gitkeep
  src/components/common/crew-list/detail-crew-card.tsx
  src/components/common/review-list/review-card.tsx
Labels: pages

#75 Feat/cr 58/create crew page
  src/_queries/crew-queries.tsx
  src/app/(crew)/create-crew/.gitkeep
  src/app/(crew)/create-crew/[id]/.gitkeep
  src/app/(crew)/crew/_components/create-crew-form/index.tsx
  src/app/(crew)/page.tsx
  src/app/api/mock-api/crew.ts
  src/components/common/input/drop-down/index.tsx
  src/components/common/input/file-input-wrap/file-input/index.tsx
Labels: pages

#68 Feat/CR-63/ReviewingModal
  src/components/my-page/reviewing-modal/button-hearts.tsx
  src/components/my-page/reviewing-modal/review-form.tsx
  src/components/my-page/reviewing-modal/reviewing-modal.stories.tsx
  src/components/my-page/reviewing-modal/reviewing-modal.tsx
Labels: components

#76 Feat/67/mypage
  src/app/(crew)/mypage/_components/profile-card/presenter.tsx
  src/app/(crew)/mypage/page.tsx
  src/components/common/writable-gathering-card/writable-gathering-card.tsx
  src/mock/writable-gathering-data.ts
  src/types/writable-gathering-card.d.ts
Labels: pages

#82 Feat/77/patch server
  .github/workflows/ci.yml
  mock.json
  src/_apis/detail/get-crew-detail.ts
  src/_apis/detail/get-gathering-list.ts
  src/_apis/detail/get-review-list.ts
  src/app/(crew)/crew/detail/[id]/_components/rating-display.stories.tsx
  src/app/(crew)/crew/detail/[id]/_components/rating-display.tsx
  src/app/(crew)/crew/detail/[id]/page.tsx
  src/app/(crew)/join/.gitkeep
  src/app/(crew)/my-gathering/.gitkeep
  src/app/api/mock-api/detail/route.ts
  src/components/common/gathering-card/container.tsx
Labels: api

#86 🚑 Hotfix: 엔드포인트 변경
  src/components/common/header/presenter.tsx
Labels: fix

#89 Hotfix/로그인하지 않은 사용자 처리
  src/app/(crew)/crew/detail/[id]/_components/create-gathering.tsx
  src/app/_components/hero/hero-crew.tsx
  src/components/common/crew-list/crew-card.tsx
Labels: fix

#97 Feat/96/form
  mock.json
  next.config.mjs
  src/app/(crew)/crew/_components/create-crew-form/index.tsx
  src/app/(crew)/crew/_components/create-gathering-form/create-gathering-form.stories.tsx
  src/app/(crew)/crew/_components/create-gathering-form/index.tsx
  src/app/(crew)/crew/_components/create-gathering-modal/presenter.tsx
  src/app/(crew)/crew/_components/gathering-detail-modal/presenter.tsx
  src/app/(crew)/crew/create/page.tsx
  src/app/(crew)/crew/detail/[id]/page.tsx
  src/app/(crew)/page.tsx
  src/app/_components/hero/hero-crew.tsx
  src/components/common/input/date-time-picker/index.tsx
  src/components/common/input/drop-down/index.tsx
  src/components/common/input/file-input-wrap/file-input/index.tsx
  src/components/common/input/file-input-wrap/file-sample/index.tsx
  src/mock/review-data.ts
  src/utils/is-today.ts
  tailwind.config.ts
Labels: fix

#104 Feat/98/crew api 연결
  package-lock.json
  package.json
  src/_apis/crew/get-crew-list.ts
  src/_queries/crew-queries.tsx
  src/app/(crew)/my-crew/page.tsx
  src/app/(crew)/page.tsx
  src/app/_components/category/category-container/index.tsx
  src/app/_components/category/internal-category/index.tsx
  src/app/_components/category/main-category/index.tsx
  src/app/_components/find-crew/find-crew.tsx
  src/components/client-provider.tsx
  src/components/common/crew-list/crew-card-list.stories.tsx
  src/components/common/crew-list/crew-card-list.tsx
  src/components/common/crew-list/crew-card.tsx
  src/components/common/input/text-input/index.tsx
  src/data/region.json
  src/hooks/use-infinite-scroll.ts
  src/types/crew-card.d.ts
Labels: pages, api

#114 DetailPage api 연결
  .gitignore
  next.config.mjs
  src/_apis/detail/get-crew-detail.ts
  src/_apis/detail/get-gathering-detail.ts
  src/_apis/detail/get-gathering-list.ts
  src/_queries/detail/crew-detail-queries.ts
  src/_queries/detail/gathering-detail-queries.ts
  src/_queries/detail/gathering-list-queries.ts
  src/app/(crew)/crew/detail/[id]/_components/detail-crew-section.tsx
  src/app/(crew)/crew/detail/[id]/_components/gathering-list-section.tsx
  src/app/(crew)/crew/detail/[id]/page.tsx
  src/components/common/crew-list/detail-crew-card.stories.tsx
  src/components/common/crew-list/detail-crew-card.tsx
  src/components/common/gathering-card/container.tsx
  src/components/common/gathering-card/gathering-card.stories.tsx
  src/components/common/gathering-card/presenter.tsx
  src/components/gathering-list/gathering-card-carousel.tsx
  src/components/gathering-list/gathering-carousel.stories.tsx
  src/components/gathering-list/gathering-list.tsx
  src/utils/api.ts
  src/utils/cn.ts
Labels: api

#113 Feat/98/crew api 연결 : 제가올린것중 이것먼저 리뷰 부탁드립니다~!
  src/_apis/crew/crew-list.ts
  src/_queries/crew/crew-list-queries.tsx
  src/app/(crew)/my-crew/page.tsx
  src/app/(crew)/page.tsx
  src/app/_components/find-crew/find-crew.tsx
  src/components/common/crew-list/crew-card-list.stories.tsx
  src/components/common/crew-list/crew-card-list.tsx
  src/types/crew-card.d.ts
  src/utils/api.ts
Labels: pages, api

#120 Feat/111/gathering api
  src/_apis/crew/crew-detail-apis.ts
  src/_apis/crew/crew-gathering-list-apis.ts
  src/_apis/detail/get-gathering-detail.ts
  src/_apis/detail/get-review-list.ts
  src/_apis/gathering/gathering-detail-apis.ts
  src/_queries/crew/crew-detail-queries.ts
  src/_queries/crew/gathering-list-queries.ts
  src/_queries/gathering/gathering-detail-queries.ts
  src/app/(crew)/crew/_components/gathering-detail-modal/container.tsx
  src/app/(crew)/crew/_components/gathering-detail-modal/gathering-detail-modal.stories.tsx
  src/app/(crew)/crew/detail/[id]/_components/detail-crew-section.tsx
  src/app/(crew)/crew/detail/[id]/_components/gathering-list-section.tsx
  src/app/(crew)/crew/detail/[id]/_components/review-section.tsx
  src/app/(crew)/crew/detail/[id]/page.tsx
  src/components/common/gathering-card/container.tsx
  src/components/common/gathering-card/scheduled-gathering-card/container.tsx
  src/types/gathering-data.d.ts
Labels: api

#109 Feat/105/my crew api 연결
  src/_apis/crew/crew-list.ts
  src/_apis/crew/my-crew-hosted-list.ts
  src/_apis/crew/my-crew-joined-list.ts
  src/_queries/crew/crew-list-queries.tsx
  src/_queries/crew/my-crew-hosted-list-query.ts
  src/_queries/crew/my-crew-joined-list-query.ts
  src/app/(crew)/my-crew/hosted/page.tsx
  src/app/(crew)/my-crew/joined/page.tsx
  src/app/(crew)/my-crew/layout.tsx
  src/app/(crew)/my-crew/page.tsx
  src/app/(crew)/page.tsx
  src/app/_components/hero/hero-crew.tsx
  src/components/common/crew-list/crew-card-list.stories.tsx
  src/components/common/crew-list/crew-card-list.tsx
  src/components/common/crew-list/crew-card.tsx
  src/components/common/input/pop-over-calendar/index.tsx
  src/components/common/input/text-input/index.tsx
  src/hooks/use-infinite-scroll.ts
Labels: pages, api

#123 Feat/121/liked api
  src/_apis/liked/liked-apis.ts
  src/_queries/liked/liked-queries.ts
  src/app/(crew)/crew/_components/gathering-detail-modal/container.tsx
  src/app/(crew)/crew/detail/[id]/_components/gathering-list-section.tsx
  src/app/(crew)/layout.tsx
  src/app/(crew)/my-favorite/page.tsx
  src/app/api/test-api/route.ts
  src/components/common/gathering-card/container.tsx
  src/components/common/modal/confirm-modal.tsx
  src/components/gathering-list/gathering-card-carousel.tsx
  src/components/gathering-list/gathering-list.stories.tsx
  src/components/gathering-list/gathering-list.tsx
  src/components/gathering-list/liked-list-container.tsx
  src/components/gathering-list/liked-list-presenter.tsx
  src/types/gathering-data.d.ts
Labels: api, refactor

#124 Feat/110/create crew api 연결
  public/assets/images/crew-sample/index.tsx
  public/assets/images/gathering-sample/index.tsx
  src/_apis/crew/crew.ts
  src/_apis/image/get-image-url.ts
  src/_queries/crew/crew-list-queries.tsx
  src/app/(crew)/crew/_components/create-crew-form/create-crew-form.stories.tsx
  src/app/(crew)/crew/_components/create-crew-form/index.tsx
  src/app/(crew)/crew/_components/create-gathering-form/create-gathering-form.stories.tsx
  src/app/(crew)/crew/_components/create-gathering-form/index.tsx
  src/app/(crew)/crew/_components/create-gathering-modal/container.tsx
  src/app/(crew)/crew/_components/create-gathering-modal/presenter.tsx
  src/app/(crew)/crew/create/page.tsx
  src/app/(crew)/crew/detail/[id]/_components/create-gathering.tsx
  src/app/(crew)/crew/detail/[id]/edit/page.tsx
  src/app/(crew)/my-crew/hosted/page.tsx
  src/app/(crew)/my-crew/joined/page.tsx
  src/app/(crew)/page.tsx
  src/components/common/crew-list/crew-card-list.stories.tsx
  src/components/common/crew-list/crew-card-list.tsx
  src/components/common/input/drop-down/index.tsx
  src/components/common/input/file-input-wrap/file-input/index.tsx
  src/components/common/input/file-input-wrap/file-sample/file-sample.stories.tsx
  src/components/common/input/file-input-wrap/file-sample/index.tsx
  src/components/common/input/file-input-wrap/index.tsx
  src/types/create-crew.d.ts
  src/types/gathering-data.d.ts
  src/utils/api.ts
  src/utils/validate-file.ts
  tailwind.config.ts
Labels: pages, api

#133 Feat/132/create edit gathering api 연결
  src/_apis/gathering/gathering-detail-apis.ts
  src/_queries/gathering/gathering-detail-queries.ts
  src/app/(crew)/crew/create/page.tsx
  src/app/(crew)/crew/detail/[id]/_components/create-gathering/create-gathering-form/index.tsx
  src/app/(crew)/crew/detail/[id]/_components/create-gathering/create-gathering-modal/container.tsx
  src/app/(crew)/crew/detail/[id]/_components/create-gathering/create-gathering-modal/presenter.tsx
  src/app/(crew)/crew/detail/[id]/_components/create-gathering/index.tsx
  src/app/(crew)/crew/detail/[id]/edit/page.tsx
  src/app/(crew)/crew/detail/[id]/page.tsx
  src/components/common/input/date-time-picker/index.tsx
Labels: components, api

#130 Feat/127/update detail page
  public/assets/icons/ic-captain-check.svg
  public/assets/icons/ic-email.svg
  public/assets/icons/ic-share.svg
  src/_apis/auth/user-apis.ts
  src/_apis/crew/crew-detail-apis.ts
  src/app/(crew)/crew/detail/[id]/_components/crew-review-list.stories.tsx
  src/app/(crew)/crew/detail/[id]/_components/detail-crew-container.tsx
  src/app/(crew)/crew/detail/[id]/_components/detail-crew-presenter.tsx
  src/app/(crew)/crew/detail/[id]/_components/detail-crew-section.tsx
  src/app/(crew)/crew/detail/[id]/_components/detail-crew.stories.tsx
  src/app/(crew)/crew/detail/[id]/_components/rating-display.stories.tsx
  src/app/(crew)/crew/detail/[id]/page.tsx
  src/components/common/crew-list/detail-crew-card.stories.tsx
  src/components/common/crew-list/detail-crew-card.tsx
  src/components/common/profile/index.tsx
  src/types/crew-card.d.ts
Labels: pages, api, design

#134 Feat/125/my page profile
  public/assets/icons/ic-edit.svg
  public/assets/icons/profile-edit.svg
  src/_apis/auth/user-apis.ts
  src/app/(crew)/my-page/_components/profile-card/container.tsx
  src/app/(crew)/my-page/_components/profile-card/presenter.tsx
  src/app/(crew)/my-page/_components/review-section.tsx
  src/app/(crew)/my-page/page.tsx
  src/app/(crew)/mypage/_components/profile-card/container.tsx
  src/app/(crew)/mypage/_components/profile-card/presenter.tsx
  src/components/common/header/container.tsx
  src/components/common/header/header.stories.tsx
  src/components/common/header/presenter.tsx
  src/components/common/profile/Profile.stories.tsx
  src/components/common/profile/index.tsx
  src/store/use-auth-store.tsx
  src/styles/globals.css
  src/utils/api.ts
Labels: pages, api, fix

#136 Feat/131/design gatherings
  public/assets/icons/ic-gathering-person.svg
  src/_queries/liked/liked-queries.ts
  src/app/(crew)/crew/detail/[id]/_components/gathering-list-section.tsx
  src/app/(crew)/crew/detail/[id]/page.tsx
  src/components/common/gathering-card/presenter.tsx
  src/components/gathering-list/crew-gathering-list.stories.tsx
  src/components/gathering-list/crew-gathering-list.tsx
  src/components/gathering-list/gathering-card-carousel.tsx
  src/components/gathering-list/liked-list-presenter.tsx
  src/utils/format-date.ts
Labels: fix, design

#140 Feat/138/profile card
  src/app/(crew)/crew/detail/[id]/_components/gathering-list-section.tsx
  src/app/(crew)/my-page/_components/profile-card/container.tsx
Labels: fix

#142 Feat/132/create edit gathering api : popOverCalendar, 약속만들기 시간선택 동작 개선
  src/components/common/input/calendar-filter/index.tsx
  src/components/common/input/date-time-picker/date-time-picker.stories.tsx
  src/components/common/input/date-time-picker/index.tsx
  src/components/common/input/pop-over-calendar/index.tsx
Labels: fix

#144 ♻️ Refactor: my-review의 탭 동작 수정
  src/app/(crew)/my-page/_components/review-section.tsx
  src/app/(crew)/my-page/_components/review-tabs.tsx
  src/app/(crew)/my-page/layout.tsx
  src/app/(crew)/my-page/my-review/page.tsx
  src/app/(crew)/my-page/page.tsx
  src/app/(crew)/my-page/reviewable/page.tsx
Labels: refactor

#145 ✨ Feat: Not Found 추가
  src/app/not-found.tsx
  tailwind.config.ts
Labels: pages, design

#148 Feat: 스켈레톤 컴포넌트 추가
  src/app/(crew)/my-crew/hosted/page.tsx
  src/app/(crew)/my-crew/joined/page.tsx
  src/app/(crew)/my-gathering/hosted/page.tsx
  src/app/(crew)/my-gathering/joined/page.tsx
  src/app/(crew)/my-page/_components/profile-card/container.tsx
  src/app/(crew)/page.tsx
  src/components/common/crew-list/crew-card-list.tsx
  src/components/common/crew-list/crew-card.tsx
  src/components/common/input/date-time-picker/index.tsx
  src/components/common/skeleton/crew-skeleton-list/index.tsx
  src/components/common/skeleton/crew-skeleton/index.tsx
  src/components/common/skeleton/gathering-skeleton-list/index.tsx
  src/components/common/skeleton/gathering-skeleton/index.tsx
  src/components/common/skeleton/my-gathering-skeleton-list/index.tsx
  src/components/common/skeleton/my-gathering-skeleton/index.tsx
  src/components/common/skeleton/my-review-skeleton-list/index.tsx
  src/components/common/skeleton/my-review-skeleton/index.tsx
  src/components/common/skeleton/profile-skeleton/index.tsx
  src/components/common/skeleton/reviewable-review-skeleton-list/index.tsx
  src/components/common/skeleton/reviewable-review-skeleton/index.tsx
  src/components/gathering-list/liked-list-container.tsx
  tailwind.config.ts
Labels: components, design

#149 Fix/146/gathering detail
  src/_queries/gathering/gathering-detail-queries.ts
  src/app/(crew)/crew/create/_components/create-crew-form/index.tsx
  src/app/(crew)/crew/detail/[id]/_components/create-gathering/index.tsx
  src/app/(crew)/crew/detail/[id]/_components/detail-crew-container.tsx
  src/app/(crew)/crew/detail/[id]/_components/detail-crew-presenter.tsx
  src/app/(crew)/crew/detail/[id]/_components/detail-crew.stories.tsx
  src/app/(crew)/crew/detail/[id]/_components/gathering-detail-modal/container.tsx
  src/app/(crew)/crew/detail/[id]/_components/gathering-detail-modal/gathering-detail-modal.stories.tsx
  src/app/(crew)/crew/detail/[id]/_components/gathering-list-section.tsx
  src/app/(crew)/crew/detail/[id]/page.tsx
  src/components/common/crew-list/crew-card-list.tsx
  src/components/common/crew-list/crew-card.tsx
  src/components/common/gathering-card/container.tsx
  src/components/common/gathering-card/presenter.tsx
  src/components/gathering-list/crew-gathering-list.tsx
  src/components/gathering-list/liked-list-container.tsx
  src/components/gathering-list/liked-list-presenter.tsx
  src/types/crew-card.d.ts
Labels: pages, fix, design

#154 Feat/116/reviewable gathering list api
  .vscode/settings.json
  package-lock.json
  package.json
  src/_apis/gathering/reviewable-gathering.ts
  src/_queries/my-gathering/reviewable-gathering-list.tsx
  src/app/(crew)/api/mock-api/writable-gathering.ts
  src/app/(crew)/my-page/_components/profile-card/presenter.tsx
  src/app/(crew)/my-page/_components/review-tabs.tsx
  src/app/(crew)/my-page/reviewable/page.tsx
  src/components/common/crew-list/crew-card.tsx
  src/components/common/gathering-card/presenter.tsx
  src/components/common/profile/index.tsx
  src/components/common/writable-gathering-card/writable-gathering-card-list.stories.tsx
  src/components/common/writable-gathering-card/writable-gathering-card-list.tsx
  src/components/my-page/reviewable-gatherings/reviewable-gathering-card-list.tsx
  src/components/my-page/reviewable-gatherings/reviewable-gathering-card.tsx
  src/components/my-page/reviewing-modal/reviewing-modal.tsx
  src/hooks/use-infinite-scroll.ts
  src/mock/writable-gathering-data.ts
  src/types/reviewable-gathering-card.d.ts
Labels: api

#155 Feat/153/detail page loading
  package-lock.json
  src/app/(crew)/crew/detail/[id]/_components/detail-crew-container.tsx
  src/app/(crew)/crew/detail/[id]/_components/gathering-list-section.tsx
  src/components/common/skeleton/crew-detail-skeleton/index.tsx
  src/components/common/skeleton/gathering-skeleton-list/index.tsx
  src/components/common/skeleton/gathering-skeleton/index.tsx
Labels: fix, design

#161 Feat/115/reviewing form api
  src/_apis/review/review-apis.ts
  src/components/my-page/reviewing-modal/review-form.tsx
  src/components/my-page/reviewing-modal/reviewing-modal.tsx
Labels: api

#167 Feat/135/not found 디자인 수정
  src/app/favicon.ico
  src/app/not-found.tsx
  tailwind.config.ts
Labels: pages, design

#166 Feat/159/crew review
  package-lock.json
  src/_apis/crew/crew-review-apis.ts
  src/_queries/crew/crew-review-queries.ts
  src/app/(crew)/crew/detail/[id]/_components/create-gathering/index.tsx
  src/app/(crew)/crew/detail/[id]/_components/crew-review-list.tsx
  src/app/(crew)/crew/detail/[id]/_components/detail-crew-container.tsx
  src/app/(crew)/crew/detail/[id]/_components/gathering-detail-modal/container.tsx
  src/app/(crew)/crew/detail/[id]/_components/gathering-list-section.tsx
  src/app/(crew)/crew/detail/[id]/_components/rating-display.stories.tsx
  src/app/(crew)/crew/detail/[id]/_components/rating-display.tsx
  src/app/(crew)/crew/detail/[id]/_components/review-section.tsx
  src/app/(crew)/crew/detail/[id]/page.tsx
  src/app/(crew)/my-page/_components/profile-card/container.tsx
  src/app/(crew)/my-page/my-review/page.tsx
  src/components/common/crew-list/crew-card.tsx
  src/components/common/review-list/review-card.tsx
  src/components/common/skeleton/my-review-skeleton-list/index.tsx
  src/components/common/skeleton/my-review-skeleton/index.tsx
  src/components/common/skeleton/review-skeleton/index.tsx
  src/components/common/skeleton/review-skeleton/review-card.tsx
  src/components/gathering-list/liked-list-presenter.tsx
  src/components/my-page/reviewable-gatherings/reviewable-gathering-card-list.tsx
  src/components/my-page/reviewable-gatherings/reviewable-gathering-card.stories.tsx
  src/components/my-page/reviewable-gatherings/reviewable-gathering-card.tsx
  src/mock/review-data.ts
  src/types/review.d.ts
Labels: api, fix, design

#162 Feat/147/skeleton : 마이페이지 스켈레톤 추가
  src/_apis/crew/crew.ts
  src/app/(crew)/crew/create/_components/create-crew-form/index.tsx
  src/app/(crew)/crew/detail/[id]/_components/create-gathering/create-gathering-form/index.tsx
  src/app/(crew)/crew/detail/[id]/_components/create-gathering/index.tsx
  src/app/(crew)/crew/detail/[id]/edit/page.tsx
  src/app/(crew)/my-crew/hosted/page.tsx
  src/app/(crew)/my-crew/joined/page.tsx
  src/app/(crew)/my-page/_components/profile-card/container.tsx
  src/app/(crew)/page.tsx
  src/components/common/gathering-card/container.tsx
  src/components/common/gathering-card/presenter.tsx
  src/components/common/gathering-card/scheduled-gathering-card/presenter.tsx
  src/components/common/header/header.stories.tsx
  src/components/common/input/button/floating-btn.tsx
  src/components/common/input/file-input-wrap/file-sample/index.tsx
  src/components/common/input/pop-over-calendar/index.tsx
  src/components/common/skeleton/crew-skeleton-list/index.tsx
  src/components/common/skeleton/gathering-skeleton-list/index.tsx
  src/components/common/skeleton/gathering-skeleton/index.tsx
  src/components/common/skeleton/my-gathering-skeleton-list/index.tsx
  src/components/common/skeleton/my-gathering-skeleton/index.tsx
  src/components/common/skeleton/reviewable-gathering-skeleton-list/index.tsx
  src/components/common/skeleton/reviewable-gathering-skeleton/index.tsx
  src/components/common/skeleton/reviewable-review-skeleton-list/index.tsx
  src/components/gathering-list/liked-list-container.tsx
  src/mock/review-data.ts
  src/types/create-crew.d.ts
  src/types/gathering-data.d.ts
  tailwind.config.ts
Labels: components, design

#174 Fix/youl storybook + 노데이터 문구 수정
  package-lock.json
  src/app/(crew)/_components/hero/hero-crew.tsx
  src/app/(crew)/crew/create/_components/create-crew-form/create-crew-form.stories.tsx
  src/app/(crew)/crew/create/_components/create-crew-form/index.tsx
  src/app/(crew)/crew/detail/[id]/_components/create-gathering/create-gathering-form/index.tsx
  src/app/(crew)/crew/detail/[id]/_components/crew-review-list.stories.tsx
  src/components/common/crew-list/crew-card-list.tsx
  src/components/common/input/calendar-filter/calendar-filter.stories.tsx
  src/components/common/input/calendar-filter/index.tsx
  src/components/common/input/date-time-picker/index.tsx
  src/components/common/input/drop-down/drop-down.stories.tsx
  src/components/common/input/drop-down/index.tsx
  src/types/create-crew.d.ts
Labels: design, refactor

#175 Fix/168/stories docs
  src/app/(crew)/crew/detail/[id]/_components/crew-gathering-list.stories.tsx
  src/app/(crew)/crew/detail/[id]/_components/crew-review-list.stories.tsx
  src/app/(crew)/crew/detail/[id]/_components/detail-crew-presenter.tsx
  src/app/(crew)/crew/detail/[id]/_components/detail-crew.stories.tsx
  src/app/(crew)/crew/detail/[id]/_components/gathering-list-section.tsx
  src/app/(crew)/crew/detail/[id]/_components/rating-display.stories.tsx
  src/app/(crew)/crew/detail/[id]/_components/review-section.tsx
  src/app/(crew)/crew/detail/[id]/page.tsx
  src/app/(crew)/my-favorite/_components/gathering-list/gathering-list.stories.tsx
  src/app/(crew)/my-favorite/_components/gathering-list/liked-list-container.tsx
  src/app/(crew)/my-page/_components/profile-card/container.tsx
  src/app/(crew)/my-page/_components/reviewable-gatherings/reviewable-gathering-card.stories.tsx
  src/components/common/button/button.stories.tsx
  src/components/common/button/like-btn.stories.tsx
  src/components/common/gathering-card/gathering-card.stories.tsx
  src/components/common/profile/Profile.stories.tsx
  src/components/common/profile/profiles.stories.tsx
  src/components/common/progress-bar/progress-bar.stories.tsx
  src/components/common/review-list/review-card-list.stories.tsx
  src/components/common/review-list/review-card-list.tsx
  src/components/common/skeleton/profile-skeleton/index.tsx
  src/mock/review-data.ts
Labels: components, fix, refactor

#185 🚑 fix: 이름수정, 시간계산 수정
  src/app/(auth)/layout.tsx
  src/app/(auth)/login/page.tsx
  src/components/common/gathering-card/container.tsx
  src/components/common/gathering-card/presenter.tsx
Labels: fix

#195 Hotfix/changed span
  src/app/(crew)/layout.tsx
  src/components/common/crew-list/crew-card.tsx
Labels: fix
