Repository CodeitFESI4-Team1/Team-1-Codeit, pull requests merged in 2024-10, with the labels that each got.

#5 Feat/cr 19/profile
  .prettierrc.js
  next.config.mjs
  package.json
  public/assets/icons/default-profile.svg
  public/assets/icons/ic-arrow-down.svg
  public/assets/icons/ic-arrow-left.svg
  public/assets/icons/ic-arrow-right.svg
  public/assets/icons/ic-arrow-top.svg
  public/assets/icons/ic-sort.svg
  public/assets/icons/profile-edit.svg
  src/components/common/.gitkeep
  src/components/common/input/.gitkeep
  src/components/common/profile/Profile.stories.tsx
  src/components/common/profile/index.tsx
  tailwind.config.ts
Labels: components

#12 Feat/cr 10/drop down
  public/assets/icons/ic-arrow-down.svg
  public/assets/icons/ic-arrow-left.svg
  public/assets/icons/ic-arrow-right.svg
  public/assets/icons/ic-arrow-top.svg
  public/assets/icons/ic-sort.svg
  src/app/page.tsx
  src/components/common/input/drop-down.tsx
  src/components/common/input/drop-down/drop-down.stories.tsx
  src/components/common/input/drop-down/index.tsx
  src/stories/Configure.mdx
  tailwind.config.ts
Labels: components

#13 Feat/cr 28/main category
  package-lock.json
  package.json
  public/category/index.ts
  public/category/main-category-01.svg
  public/category/main-category-02.svg
  public/category/main-category-03.svg
  public/category/main-category-04.svg
  public/category/main-category-05.svg
  public/category/main-category-06.svg
  src/app/page.tsx
  src/components/common/category/category-wrap/index.tsx
  src/components/common/category/internal-category/index.tsx
  src/components/common/category/main-category/index.tsx
  src/data/category.json
  src/types/category.d.ts
  tailwind.config.ts
Labels: components

#8 Feat/cr 13/header
  src/app/create-crew/.gitkeep
  src/app/create-crew/[id]/.gitkeep
  src/app/detail/[id]/.gitkeep
  src/app/layout.tsx
  src/app/my-crew/.gitkeep
  src/app/my-gathering/.gitkeep
  src/components/common/header/container.tsx
  src/components/common/header/header.stories.tsx
  src/components/common/header/presenter.tsx
Labels: components

#11 Feat/cr 25/file input
  .eslintrc.js
  public/assets/icons/ic-plus.svg
  public/assets/icons/ic-x.svg
  src/app/create-crew/.gitkeep
  src/app/create-crew/page.tsx
  src/components/common/input/drop-down/drop-down.stories.tsx
  src/components/common/input/file-input-wrap/index.tsx
  src/components/common/input/file-input/file-input.stories.tsx
  src/components/common/input/file-input/index.tsx
  src/components/common/input/file-sample/file-sample.stories.tsx
  src/components/common/input/file-sample/index.tsx
Labels: components

#18 Feat/cr 34/login input
  package-lock.json
  package.json
  src/components/common/input/input-with-label/ input-with-label.stories.tsx
  src/components/common/input/input-with-label/index.tsx
  src/components/common/input/password-input/index.tsx
  src/components/common/input/password-input/password-input.stories.tsx
Labels: components

#28 Feat/cr 49/api
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/api-test/page.tsx
  src/app/api/test-api/route.ts
  src/app/layout.tsx
  src/components/client-provider.tsx
  src/hooks/useApi.ts
  src/hooks/usePrefetchedApi.ts
  src/utils/api.ts
  src/utils/ssrPrefetch.ts
Labels: api

#22 Feat/cr 36/date time picker
  src/app/detail/.gitkeep
  src/app/detail/layout.tsx
  src/app/detail/page.tsx
  src/components/common/category/internal-category/index.tsx
  src/components/common/category/main-category/index.tsx
  src/components/common/input/calendar-filter/index.tsx
  src/components/common/input/date-time-picker/date-time-picker.stories.tsx
  src/components/common/input/date-time-picker/index.tsx
  src/components/common/input/drop-down/drop-down.stories.tsx
  src/components/common/input/drop-down/index.tsx
  src/components/common/input/pop-over-calendar/index.tsx
  tailwind.config.ts
Labels: components

#16 Feat/cr 26/gathering card list
  .github/workflows/ci.yml
  .prettierrc.js
  .storybook/preview.tsx
  package-lock.json
  package.json
  public/assets/icons/person.svg
  public/assets/icons/timer.svg
  src/app/api-test/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/common/gathering-card/container.tsx
  src/components/common/gathering-card/gathering-card.stories.tsx
  src/components/common/gathering-card/presenter.tsx
  src/components/gathering-list/gathering-card-carousel.tsx
  src/components/gathering-list/gathering-carousel.stories.tsx
  src/components/gathering-list/gathering-list.stories.tsx
  src/components/gathering-list/gathering-list.tsx
  src/hooks/useInfiniteScroll.ts
  src/mock/gathering-data.ts
  src/styles/calendar-filter.css
  src/styles/globals.css
  src/types/gathering-data.d.ts
  src/utils/format-date.ts
  tsconfig.json
Labels: components

#24 Feat/cr 40/textbox
  src/components/common/input/textarea/index.tsx
  src/components/common/input/textarea/textarea.stories.tsx
Labels: components

#14 Feat/cr 12/review card list
  public/assets/icons/ic-heart.tsx
  public/assets/icons/ic-menu.svg
  src/components/common/review-list/review-card-list.stories.ts
  src/components/common/review-list/review-card-list.tsx
  src/components/common/review-list/review-card.tsx
  src/utils/.gitkeep
  tsconfig.json
Labels: components

#25 Feat/cr 35/like btn
  .github/workflows/deploy.yml
  package-lock.json
  package.json
  public/assets/icons/active-heart.svg
  public/assets/icons/default-heart.svg
  src/components/common/like-btn/index.tsx
  src/components/common/like-btn/like-btn.stories.tsx
Labels: components

#27 Feat/cr 11/crew card list
  package-lock.json
  package.json
  public/assets/icons/ic-check.svg
  public/assets/icons/ic-person.svg
  src/app/api/mock-api/crew.ts
  src/components/common/crew-list/crew-card-list.stories.tsx
  src/components/common/crew-list/crew-card-list.tsx
  src/components/common/crew-list/crew-card.stories.tsx
  src/components/common/crew-list/crew-card.tsx
  src/components/common/crew-list/profiles.stories.tsx
  src/components/common/crew-list/profiles.tsx
  src/mock/crew-data.ts
  src/types/crew-card.d.ts
Labels: components

#30 Feat/cr 50/floating btn
  public/assets/images/logo.png
  src/components/common/button/floating-btn.stories.tsx
  src/components/common/button/floating-btn.tsx
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  src/types/.gitkeep
Labels: components

#31 Feat/cr 17/progress bar
  .github/workflows/ci.yml
  src/components/common/crew-list/crew-card.tsx
  src/components/common/progress-bar/index.tsx
  src/components/common/progress-bar/progress-bar.stories.tsx
Labels: design

#32 Feat/cr 54/button
  package.json
  src/components/common/button/button.stories.tsx
  src/components/common/button/index.tsx
  tailwind.config.ts
Labels: components

#33 Feat/cr 53/gathering detail modal
  .github/workflows/ci.yml
  public/assets/icons/ic-clock.svg
  public/assets/icons/ic-create-crew.svg
  public/assets/icons/ic-user.svg
  src/app/detail/[id]/page.tsx
  src/components/gathering-detail-modal/container.tsx
  src/components/gathering-detail-modal/gathering-detail-modal.stories.tsx
  src/components/gathering-detail-modal/presenter.tsx
  src/types/gathering-data.d.ts
  src/utils/is-today.ts
Labels: components

#34 Feat/cr 55/tab
  package-lock.json
  package.json
  src/app/layout.tsx
  src/components/common/tab/index.tsx
  src/components/common/tab/tab.stories.tsx
  src/data/tab.json
Labels: components

#35 Feat/cr 56/auth form
  src/app/login/_component/login-form.stories.tsx
  src/app/login/_component/login-form.tsx
  src/app/signup/_component/signup-form.stories.tsx
  src/app/signup/_component/signup-form.tsx
  src/components/common/input/password-input/index.tsx
  src/components/common/input/text-input/index.tsx
Labels: components

#36 Feat/cr 57/toast
  package-lock.json
  package.json
  src/components/common/toast/index.tsx
  src/components/common/toast/toast.stories.tsx
Labels: components

#42 Feat/cr 64/api utils
  .prettierrc.js
  package-lock.json
  package.json
  src/_apis/getUser.ts
  src/_queries/useGetUserQuery.ts
  src/app/api-test/page.tsx
  src/app/api/test-api/route.ts
  src/components/client-provider.tsx
  src/hooks/.gitkeep
  src/hooks/useApi.ts
  src/hooks/usePrefetchedApi.ts
  src/utils/.gitkeep
  src/utils/api.ts
  src/utils/ssrPrefetch.ts
  tsconfig.json
Labels: api

#40 Feat/cr 62/alert modal
  src/components/common/modal/confirm-cancel-modal.tsx
  src/components/common/modal/confirm-modal.tsx
  tailwind.config.ts
Labels: components
